{% extends "layout.html" %}
{% block content %}
	 <div>
		<h1>Welcome</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<hr>
		<h3>Test</h3>
		<p>Lorem ipsum...</p>
		
		<table>
			<tr><th>Title</th><th>Artist</th><th>Genre</th></tr>
			<tr><td>title1</td> <td>artist1</td><td>genre1</td></tr>
			<tr><td>title2: longer</td> <td>artist2</td><td>genre2</td></tr>
			<tr><td>title3</td> <td>artist3</td><td>genre3</td></tr>
			<tr><td>title4</td> <td>artist4: long name</td><td>genre4</td></tr>
			<tr><td>title5</td> <td>artist5</td><td>genre5: asdfghkl</td></tr>
		</table>
	</div>

	<div class="searchbar">
		<input type="text" placeholder="Search here...">
	</div>

	<div class="celltable">
		<div class="cellrow">
			<div class="cell">
				<h1>Title</h1>
				<p>The Venue<br>7:00 PM, 28 April 2024</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		
		
			<div class="cell">
				<h1>Second Title</h1>
				<p>The Other Venue<br>7:30 PM, 15 December 2024</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			
			<div class="cell">
				<h1>Third Title</h1>
				<p>The Third Venue<br>7:30 PM, 20 February 2025</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>
		
		<div class="cellrow">
			<div class="cell">
				<h1>Fourth Title</h1>
				<p>The Venue<br>7:00 PM, 28 April 2024</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		
		
			<div class="cell">
				<h1>Fifth Title</h1>
				<p>The Middle of Nowhere<br>7:30 PM, 15 December 2024</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			
			<div class="cell">
				<h1>Sixth Title</h1>
				<p>The Venue<br>7:30 PM, 20 February 2025</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>


		<div class="cellrow">
			<div class="cell">
				<h1>Seventh Title</h1>
				<p>The Other Venue<br>7:00 PM, 28 April 2024</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			
			<div class="cell">
				<h1>Eighth Title</h1>
				<p>the voices are getting louder<br>7:00 PM, 28 April 2024</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
		</div>
	</div>
{% endblock %}

