{% extends "layout.html" %}
{% block content %}
		<div>
		<h1 style="text-align: center;">Leave a Review</h1>
		<form action="/create_account" class="login" style="width: 50%;" method="POST">
			<label>Score <span style="color: #cc2c3e; font-size:25px;">*</span></label>
			<input type=text name=score placeholder="Enter a number between 0 and 5" required
				
			>
			
			<label>Event <span style="color: #cc2c3e; font-size:25px;">*</span></label>
			<input type=date name=event_name required
				
			>
			
			<label>Review Text</label>
			<textarea name=review_text placeholder="What did you think?">{% if user %}{{user["bio"]}}{% endif %}</textarea>
			
			<button type="submit">Leave Review</button>
		</form>
		
		<div style="text-align: center; margin-top: 15px;">
			<button class="linkbutton"><a href="/login" style="color: #dce0e0;">Back to Login</a></button>
		</div>
	</div>
    <form action="/add" method="POST">
	    
        <div></div><label>Score</label>: <input type=text name=score value="Type here"></div>
        <div></div><label>Text</label>: <input type=text name=review_text  value="Type here"></div>
        <div></div><label>Event</label>: 
	    <select name="city" required>
				{% for city in cities() %}
					<option>{{city.city_name}}, {{city.country}}</option>
				{% endfor %}
			</select>
			
	<input type=text name=event_name  value="Type here"></div>
	    <div><button type="submit">Submit</button></div>
    </form>
{% endblock %}
