{% extends "layout.html" %}
{% block content %}
	 <div>
		{% if session['loggedin'] %}
			<h1>Welcome, {{session['username']}}</h1>
		{% else %}
			<h1>Welcome</h1>
		{% endif %}
	</div>
	
	<div>
		<h1>Upcoming Events</h1>
		<div class="celltable">
			<div class="cellrow">
				{% for i in range(3) if i < upcoming|length %}
				<div class="cell">
					<h1>{{upcoming[i].event_name}}</h1>
					<p>{{upcoming[i].venue_name}}<br>{{format_datetime(upcoming[i].date_time)}}</p>
					<p>{{upcoming[i].event_desc}}</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	<div>
		<h1>Your Tickets</h1>
		{% if tickets %}
			{% for ticket in tickets %}
				<div class="styedlist">
					<div class="styledlistitem">
						<h1>{{ticket.event_name}}</h1>
						<p>{{ticket.event_desc}}</p>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div>
				<p>You don't have any tickets.</p>
			</div>
		{% endif %}
	</div>
{% endblock %}

