{% extends "layout.html" %}
{% block content %}	 
	 <div>
		<h1>Events: "{{query}}"</h1>
		{% if not events %}
			<p>No results</p>
		{% else %}
			<div class="celltable">
				<!-- Number of rows is ceil(num_events / 3) -->
				{% set num_rows = (events|length / 3)|round(method='ceil')|int %}
				{% for row in range(num_rows) %}
				<div class="cellrow">
					<!-- Place 3 cells in row, or however many remain -->
					{% for i in range(row * 3, (row + 1) * 3) if i < events|length %}
					<div class="cell">
						<h1>{{events[i].event_name}}</h1>
						<p>{{events[i].venue_name}}<br>{{events[i].date_time}}</p>
						<p>{{events[i].event_desc}}</p>
					</div>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
