{% extends "layout.html" %}
{% block content %}
	<div>
		<h1 style="text-align: center;">Login</h1>
		<form action="/login" method="POST">
			<div class="login">
				<label>Username:</label>
				<input type=text name=username id="loginUsername" placeholder="Enter username...">
				<button type="submit">Login</button>
			</div>
		</form>
		<div style="text-align: center; margin-top: 15px;">
			<button class="linkbutton"><a href="/create_account" style="color: #dce0e0;">Create account</a></button>
		</div>
	</div>
	
	<div id="popupOverlay" class="overlay">
		<div class="popup">
			<p>{{msg}}</p>
			<button onclick="togglePopup('popupOverlay')">OK</button>
		</div>
	</div>
	
	<script language="javascript">
		function togglePopup(name) {
			const overlay = document.getElementById(name);
			overlay.classList.toggle("show");
		}
		
		if ("{{msg}}" != "None") {
			togglePopup("popupOverlay");
		}
	</script>
{% endblock %}
